{% extends 'partials/base.html.twig' %}

{% block content %}

{% block javascripts %}
    {% do assets.addJs('theme://vendor/jquery/jquery.min.js', {'priority':100, 'group':'bottom'}) %}
    {% do assets.addJs('theme://vendor/popper/popper.min.js', {'priority':99, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/bootstrap/bootstrap.min.js', {'priority':98, 'group':'bottom'}) %}
    {% do assets.addJs('theme://vendor/fontawesome/js/fontawesome-all.min.js', {'priority':97, 'group':'bottom'}) %}
    {% do assets.addJs('theme://vendor/swiper/js/swiper.min.js', {'priority':96, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/theme.min.js', {'priority':95, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/missed.js', {'priority':94, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/hotjar.js', {'priority':93, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/cookie-consent.js', {'priority':92, 'group':'bottom'}) %}
{% endblock %}
{{ assets.js() }}

{% block stylesheets %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800', 100) %}
    {% do assets.addCss('theme://vendor/swiper/css/swiper.min.css', 99) %}
    {% do assets.addCss('theme://css/theme.css', 98) %}
    {% do assets.addCss('theme://css/cookie-consent.css', 97) %}
{% endblock %}
{{ assets.css() }}

<!-- Spotlight -->
<section class="slice slice-lg pb-lg-0 bg-gradient-primary" data-separator="rounded-left" data-separator-orientation="bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="mb--100 position-relative" style="z-index: 1;">
                    <div class="pt-lg-lg text-center">
                        <h6 class="text-white text-uppercase ls-2 mb-4 text-muted font-weight-700">Web Development</h6>
                        <h2 class="heading h2 text-white lh-160 font-weight-300">We appreciate that commissioning a new piece of professional web development can often be a weighty investment, which is why we like to remove the jargon and focus on your objectives from day one.</h2>
                    </div>
                    <div class="list-group list-group-space mt-5">
                        <a href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2" data-toggle="tooltip" data-original-title="Start with this">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img src="{{ url('theme://images/icons/dusk/png/small-business.png') }}" class="img-fluid" alt="Small business">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">I want to build a bussiness website</div>
                                <p class="text-sm">Great! You're on your way to reaching more online customers. Through a website you'll be visible to millions of new potential customers.</p>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2" data-toggle="tooltip" data-original-title="Start with this">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img src="{{ url('theme://images/icons/dusk/png/template.png') }}" class="img-fluid" alt="Template">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">I want to showcase my work</div>
                                <p class="text-sm">Showcasing work is not only important, it's critical for gaining peoples trust. You take care of your work - we help you showcase it online.</p>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2" data-toggle="tooltip" data-original-title="Start with this">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img src="{{ url('theme://images/icons/dusk/png/card-payment.png') }}" class="img-fluid" alt="Card payment">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">I want to create an online store</div>
                                <p class="text-sm">Our ecommerce solution helps businesses grow online. How? The answer is simple: planning is the key to starting a online store with long-term success.</p>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-center px-sm text-center text-md-left box-shadow-2" data-toggle="tooltip" data-original-title="Start with this">
                            <div class="mr-md-sm mb-4 mb-md-0">
                                <img src="{{ url('theme://images/icons/dusk/png/administrative-tools.png') }}" class="img-fluid" alt="Administrative">
                            </div>
                            <div class="list-group-content">
                                <div class="h5">I want to build a web app</div>
                                <p class="text-sm">Custom web application? Our developers are eager to hear from you. Check out our blog to read about the technologies we love working with too.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg pt-200">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h2">One website, different requirements</h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead">We have the technical skills to scope your requirements and deliver.</p>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg-6">
                <div class="px-6">
                    <h5 class="heading h5 mb-3">Asking the right questions</h5>
                    <p>We’ll start any new project by listening to you. What’s the purpose of this new project? How does it fit with your wider marketing strategy and digital landscape? What challenges have you faced in the past? How are your users interacting with your platform currently – are they using a mobile, tablet, laptop or desktop? Why aren’t they getting in touch? We’ll leave no stone unturned, as the success of any piece of web development is in the scoping and planning. We call this our discovery phase, and it’s exactly that; we discover everything we need to know before writing a single line of code.</p>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="px-6">
                    <img class="img-fluid rounded shadow" src="{{ url('theme://images/highlights/project-planning.png') }}" alt="Project planning">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg bg-secondary" data-delimiter-before="1" data-delimiter-after="1">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-5">
                <div class="px-6">
                    <img class="img-fluid rounded shadow" src="{{ url('theme://images/highlights/next-steps.png') }}" alt="Next steps">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="px-6">
                    <h5 class="heading h5 mb-3">The next steps</h5>
                    <p>Being the control freaks that we are, the processes don’t stop there! Once the discovery phase is complete, we’ll move onto the design, development and testing phases. Depending on the size of the project, budgets and timescales, these processes may follow a linear approach. If time is of the essence, we may choose to adopt an agile approach. This will enable us to deliver bite-sized pieces of the project for review and approval, before scoping and implementing the next piece.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg bg-size--contain">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="swiper-js-container">
                    <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <p class="h2 lh-160 text-gray font-italic font-weight-300" style="font-family: 'Playfair Display', serif;">"Amazing team! All-in-one solution, clean code, beautiful design, and really not hard to work with. Highly recommended for any kind on website."</p>
                                    <div class="text-center mt-4">
                                        <h3 class="h5">John Sullivan</h3>
                                        <span class="lead text-muted">Slack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <p class="h2 lh-160 text-gray font-italic font-weight-300" style="font-family: 'Playfair Display', serif;">"Amazing teamm! All-in-one, clean code, beautiful design, and really not hard to work with. Highly recommended for any kind on website."</p>
                                    <div class="text-center mt-4">
                                        <h3 class="h5">James Lewis</h3>
                                        <span class="lead text-muted">Instagram</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'partials/cta.html.twig' %}
{% endblock %}