{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/theme.min.css', 98) %}
        {% do assets.addCss('theme://vendor/fancybox/css/jquery.fancybox.min.css', 97) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800', 96) %}
        {% do assets.addCss('theme://css/cookie-consent.min.css', 95) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('theme://vendor/jquery/jquery.min.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('theme://vendor/popper/popper.min.js', {'priority':99, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/bootstrap/bootstrap.min.js', {'priority':98, 'group':'bottom'}) %}
        {% do assets.addJs('theme://vendor/fontawesome/js/fontawesome-all.min.js', {'priority':97, 'group':'bottom'}) %}
        {% do assets.addJs('theme://vendor/textarea-autosize/textarea-autosize.min.js', {'priority':96, 'group':'bottom'}) %}
        {% do assets.addJs('theme://vendor/fancybox/js/jquery.fancybox.min.js', {'priority':95, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/theme.min.js', {'priority':94, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/missed.js', {'priority':93, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/hotjar.js', {'priority':92, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/cookie-consent.js', {'priority':91, 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body>

{% block header %}
    <header>
    {% for navcolor in page.header.navcolor %}
        <nav class="navbar navbar-expand-lg navbar-transparent {{ navcolor }} py-3" id="navbar_main">
    {% endfor %}
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="{{ base_url == '' ? '/' : base_url }}"><strong>Scope</strong> Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main_collapse" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar_main_collapse">
                    {% include 'partials/navigation.html.twig' %}
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item mr-0">
                            <a href="/contact" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                <span class="btn-inner--icon">💪</span>
                                <span class="btn-inner--text">Let's get started</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}
    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer py-5  footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="pr-lg-4">
                        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Contact</h5>
                        <ul class="list-unstyled text-small">
                            <li class="d-flex py-2">
                                <div>
                                    <i class="fas fa-map-marker"></i>
                                </div>
                                <div>
                                    <span class="pl-3 d-inline-block">Scope Web LLC<br>
                                    3333 Broadway, New York <br>NY 10031, USA
                                    </span>
                                </div>
                            </li>
                            <li class="d-flex py-2">
                                <div>
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div>
                                    <span class="pl-3 d-inline-block">+316 856 610 69</span>
                                </div>
                            </li>
                            <li class="d-flex py-2">
                                <div>
                                    <i class="fas fa-envelope-open"></i>
                                </div>
                                <div>
                                    <span class="pl-3 d-inline-block">info@scopeweb.nyc</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h5 class="heading h6 text-uppercase font-weight-700 mb-3">About us</h5>
                    <ul class="list-unstyled text-small">
                        <li class="py-2"><a href="/services">Services</a>
                        </li>
                        <li class="py-2"><a href="/client-work">Client work</a>
                        </li>
                        <li class="py-2"><a href="/about">About us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Solutions</h5>
                    <ul class="list-unstyled">
                        <li class="py-2"><a href="/services/web-development">Web development</a>
                        </li>
                        <li class="py-2"><a href="/services">UI &amp; UX design</a>
                        </li>
                        <li class="py-2"><a href="/services">App development</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <div class="pr-lg-5">
                        <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>Scope</strong> Web</h1>
                        <ul class="list-unstyled">
                            <li class="py-2"><a href="/careers">Careers</a>
                            </li>
                            <li class="py-2"><a href="/terms-and-conditions">Terms and conditions</a>
                            </li>
                            <li class="py-2"><a href="/privacy-policy">Privacy policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5">
        <div class="container">
            <div class="align-items-center">
                <div class="text-center">
                    <a href="#navbar_main" data-scroll-to data-scroll-to-offset="50">
                        <img src="{{ url('theme://images/brand/scopeweb-o.png') }}" class="alpha-6 alpha-10--hover" style="width: 50px;" alt="scopeweb o footer logo">
                    </a>
                    <span class="d-block mt-4">&copy; 2018 <a href="{{ base_url == '' ? '/' : base_url }}" class="footer-link" target="_blank">Scope Web LLC</a>. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

<script>
    gdprCookieNotice({
        locale: 'en', //This is the default value
        timeout: 500, //Time until the cookie bar appears
        expiration: 30, //This is the default value, in days
        domain: '.scopeweb.nyc', //If you run the same cookie notice on all subdomains, define the main domain starting with a .
        implicit: true, //Accept cookies on page scroll automatically
        statement: 'https://scopeweb.nyc/cookies-policy', //Link to your cookie statement page
        performance: [''], //Cookies in the performance category.
        analytics: ['ga'], //Cookies in the analytics category.
        marketing: ['Hotjar, hjUserId, _hjIncludedInSample'] //Cookies in the marketing category.
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104437451-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-118350668-1');
</script>

</body>
</html>
